# Obsidian Portable Data (to keep repo clean and portable)
ObsidianPortable/data/
ObsidianPortable/locales/
ObsidianPortable/*.pak
ObsidianPortable/*.bin
ObsidianPortable/*.dat
ObsidianPortable/*.dll
# Obsidian Portable Large Binaries (Avoid Git bloating)
ObsidianPortable/*.exe
ObsidianPortable/*.dll
ObsidianPortable/*.pak
ObsidianPortable/*.bin
ObsidianPortable/*.dat
ObsidianPortable/resources/
ObsidianPortable/locales/
ObsidianPortable/data/
